.mainContent{
    display: block;
    margin: 10px;
    margin-right: 30px;
    margin-left: 40px;
    color: white;

}

body
{
    color: white;
}

input,textarea
{
    background-color:rgba(0,0,0,0.5);
}




.formError{
    border-color: red;
    color: red;
    border: none;
    border-style: solid;
    border-radius: 3px;
    border-bottom: 0px;
    border-right: 0px;
    border-left:0px;
}

.errorText{
    color: red;
    font-weight: bold;
    
}