.formContainer{
    display: block;
}

body{
    color: black;
}
.formError{
    border-color: red;
    color: red;
    border: none;
    border-style: solid;
    border-radius: 3px;
    border-bottom: 0px;
    border-right: 0px;
    border-left:0px;
}

.errorText{
    color: red;
    font-weight: bold;
    
}