body{
    background-color: rgb(33, 33, 33);
 }

.herophoto{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid transparent;

}
.headshot:hover{
    border: 5px solid green;

}

.downloadResume
{
    border: 5px black;
    font-size: 0.625em;
    font-weight: bolder;
    text-decoration: none;
    border: 1px solid transparent;
}

.downloadButton:hover
{
    cursor: pointer;
    border: 2px solid green;
}

.mainHeading
{
    font-size: 2.250em;
}
.photo{
    justify-content: center;
    align-items: center;
}


.downloadButton
{
    background-color: black;
    color: white;
    text-decoration: none;
}

p{
    font-size: 20px;
}

.headshot
{
    margin-top: 6.25em;
    margin-left: 4.375em;
}

img:hover
{
    border: 300px white;
    cursor: pointer;
}

.siteText
{
    margin-left: 20px;
    display: block;
    align-items: center;
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}



.headshot{
    height: 30em;
    width: 30em;
    border-radius: 50%;
}


@media screen and (max-width: 700px) {
    .downloadButton
    {
        display: none;
    }
    .downloadResume{
        display: none;
    }
    .herophoto
    {
        display: block;
    }
    .photo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .headshot
    {
        height: 12.5em;
        width: 12.5em;
        border-radius: 50%;
    }
    .aboutInfo
    {
        font-size: 1.125em;
    }


}
