* {
    box-sizing: border-box;
}

body{
    background-color: black;
}

.sitetitle{

    font-family:'Poppins', sans-serif;
    font-size: 14px;
    text-decoration: none;
}


.nav-link{
    font-family:'Poppins', sans-serif;
    font-size: 10px;
    text-decoration: none;
    margin:10px;
}



.navcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.active-link
{
    border-bottom: 3px solid white;
}

.links {
    display: flex;
    align-items: center;
    justify-content: end;
    color:white;
    font: 13px FontSiteSansBoldCondensed, Verdana, Helvetica, Arial, sans-serif;
    

}

.links a:hover {
    border-bottom: 3px solid white;
  }

  .links a.is-active {
    border-bottom: 3px solid white;
  }

  .active-link{
    border-bottom: 3px solid white;
  }

a {
    color: white;
    border-bottom: 3px solid transparent;
}















