@import url('https://fonts.googleapis.com/css?family=Lato');

h1,h2{
    text-align: center;
}
*{
    box-sizing: border-box;
}



.timelineParent
{
    

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: 100vh;
    font-family: 'Lato, sans-serif';
    margin:0;
}

.timeline-container
{
    display: flex;
    width:100%;
    flex-direction: column;
    margin: 40px 0;
}


.timeline-container::after{
    display: flex;
    background-color: red;
    content: '';
    position: absolute;
    left: calc(50% - 2px);
    width:4px;
    height: 100%;
}



.timeline-item{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    margin: 10px 0;
    width: 50%;
    color:black
}

.timeline-item:nth-child(odd){
    align-self: flex-end;
    justify-content: flex-start;
    padding-right: 0px;
    padding-left: 30px;
}



.timeline-item-content
{
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    flex-direction: column;
    max-width: 70%;
    align-items: flex-end;
    position: relative;
    padding: 15px;
    text-align: right;
    width:400px;
    
}

.timeline-item-content a
{
    color:black;
}

.timeline-item:nth-child(odd) .timeline-item-content
{
    align-items: flex-start;
    text-align:left;
}



.timeline-item-content .tag
{
    color:white;
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    top: 5px;
    left:5px;
    letter-spacing: 1px;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag
{
    left:auto;
    right:5px;
}

