

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 1px 2px 0 black;
    transition: 0.3s;
    color: black;
    background-color: white;
    font-family:'Poppins', sans-serif;
    display: inline-block;
    width: 30%;
    border: 30px black;
    margin-left: 40px;
    margin-bottom: 10px;
    
  }
  img {
    height: auto;
    width: auto;
    object-fit: contain;
   }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 white
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  .detailsButton{
      color: white;
      background-color: black;
      border:none;
      border-radius: 4px;
      cursor: pointer;
  }