
h1{
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 1px 2px 0 white;
    transition: 0.3s;
    color: white;
    background-color: rgb(54, 69, 79);
    font-family:'Poppins', sans-serif;
    display: inline-flex;
    margin: 1.25rem;
    justify-content: center;
    
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 white
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  .detailsButton{
      color: white;
      background-color: blue;
      border:none;
      border-radius: 4px;
      cursor: pointer;
  }